/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #region Input section */
.form {
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 32px;
}
.input {
  padding-left: 15px;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  transition: border-color 300ms ease-in;
}
.input:hover,
.input:active {
  border-color: #000;
}

.btn {
  height: 40px;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

.btn:hover,
.btn:focus {
  background-color: #6c8cff;
}
.load {
  text-align: center;
  margin-top: 24px;
}
.load-btn {
  text-align: center;
}
.text-load {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
/* #endregion */

/* #region Output section */
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.gallery {
  border: 1px solid #808080;
  border-radius: 6px;
  overflow: hidden;
}
.gallery img {
  height: 200px;
  width: 360px;
}
.info {
  display: flex;
  gap: 28px;
  justify-content: center;
  text-align: center;
}

h3 {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
p {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
/* #endregion */

/* #region Loader */

.loader {
  position: fixed;
  top: 15%;
  left: 38%;
  margin: auto;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.1);
  transform-origin: 50% 50%;
  transform: perspective(200px) rotateX(66deg);
  animation: spinner-wiggle 1.2s infinite;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  inset: -4px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 4px solid #0000;
  animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite,
    spinner-fade 1.2s linear infinite;
}
.loader:before {
  border-top-color: #183cf3;
}
.loader:after {
  border-top-color: #f1f831;
  animation-delay: 0.4s;
}

@keyframes spinner-spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner-fade {
  25%,
  75% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}

/* #endregion */
